html {
  font-family: 'Roboto', arial;
}

.navy_box {
  background-color: #1f2937;
  color: #F9FAF8;
  display: flex;
  flex-direction: column;
  padding: 15px 100px;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header > img {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

ul {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
  font-size: 18px #E5E7EB;
}

.hero {
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.awesome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 75px 0;
  flex-wrap: wrap;
}

.navy_left, .navy_right {
  flex: 1 0 250px;
}

.navy_left > button {
  background-color: #3882F6;
  color: #E5E7EB;
  font-size: 14px;
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
}
.navy_right {
  background-color: darkgray;
  height: 200px;
}

