html {
  font-family: 'Roboto', arial;
}

body {
  margin: 0;
}

.navy_box {
  background-color: #2d3680;
  color: #F9FAF8;
  display: flex;
  flex-direction: column;
  padding: 15px 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header > .logo_sub {
  margin-right: auto;
  margin-top: 42px;
  padding: 0;
}

.header > img {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  height: 75px;
}

ul {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
  font-size: 18px #E5E7EB;
}

.awesome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 75px 0;
  flex-wrap: wrap;
}

.hero {
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.navy_left {
  flex: 2
}

.navy_left > button {
  background-color: #ff973b;
  color: #E5E7EB;
  font-size: 14px;
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
}
.navy_right {
  display: flex;
  flex-direction: column;
}

.navy_right > img {
  max-height: 225px;
}

.navy_right > cite {
  font-size: smaller;
  color: #E5E7EB;
  text-align: right;
}

a {
  color: #E5E7EB;
}

/* The Gallery -------------------------------------------------------------- */
.white_title {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  margin: 75px 0 35px 0;
}

.blue_squares {
  display: flex;
  justify-content: center;
  margin: 0 100px 75px 100px;
  gap: 48px;
  flex-wrap: wrap;
}

.square {
  flex: auto;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
}

.square > img {
  height: 150px;
  width: 150px;
  border-radius: 8px;
}

/* Grey Section ------------------------------------------------------------- */
.gray_box {
  background-color: #E5E7EB;
  text-align: left;
  padding: 75px 150px;
}
.gray_box > p {
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
}

.author {
  text-align: right;
}

/* Action section ----------------------------------------------------------- */
.blue_box_filled {
  display: flex;
  justify-content: space-between;
  background-color: #ff973b;
  min-height: 50px;
  padding: 25px 50px;
  margin: 75px;
  border-radius: 8px;
  color: white;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 20px;
}

.left_box {
  font-style: normal;
}

.support {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.donate {
  font-weight: 300;
  font-size: 14px;
}

.blue_box_filled > button {
  background-color: #ff973b;
  color: white;
  font: normal 14px;
  padding: 8px 24px;
  border-radius: 8px;
  border: 2px solid white;
  width: 150px;
  max-height: 32px;
  align-self: center;
}

.footer {
  background-color: #2d3680;
  color: #E5E7EB;
  text-align: center;
  padding: 24px;
}